<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../css/threePage.css">
  <script type="text/javascript" src="../../plugins/three.js"></script>
  <script type="text/javascript" src="../../js/threePage.js"></script>
</head>

<body onload="init()">
  <div class="canvas-body">
    <canvas id="mainCanvas" width="400px" height="300px">
      您的设备不支持canvas
    </canvas>
  </div>
</body>

</html>